body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

table.guests-list tr .edit {
    display: none;
}

table.guests-list tr.edited .values {
    display: none;
}
table.guests-list tr.edited .edit {
    display: inline;
}

#menu > div {
    position: fixed;
}

.guest-item input{
    margin-bottom: 0;
}

.list *[colspan] {
    background: red;
    color: white;
    font-weight: 700;
    text-align: center;
}

.guest-form {
    background: #fff;
    border: 1px solid red;
}


.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,.5);
    
}

.badge-changes.badge:empty {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0;
}

.edit .accompanying {
    display: none;
}
.edit.checkbox-hidden .accompanying {
    display: inline;
}
.edit.checkbox-hidden .checkbox {
    display: none;
}

.scroll-panel {
    overflow: hidden;
}

.scroll-panel:hover {
    overflow-y: auto;
}

.gifts .scroll-panel{
    max-height: 600px;
}
