<div class="guests">
    <div class="span6">
        <div class="well well-small">
            <button class="btn btn-primary button-add-new"><i class="icon-user icon-white"></i> Add new guest</button>
        </div>
        <table class="guests-list table table-hover">
            <thead class="list-head">
                <tr>
                    <th></th>
                    <th>Guest</th>
                    <th>Accompanying</th>
                    <th>Childrens</th>
                    <th>Confirmation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="list"><tr><td colspan="5"> Empty list</td></tr></tbody>
        </table>
    </div>
    <div class="span4">
        <div class="list-controls well well-small">
            <div class="statistics">
                
            </div>
            <div class="tips">
                
            </div>
        </div>
    </div>
</div>
