<td>
    <span class="badge {{#if response}}badge-info{{/if}} badge-changes"></span>
</td>
<td>
    <span class="values">
        {{guest-first}} {{guest-second}}
    </span>
    {{#unless response}}
        <span class="edit">
            <input type="text" class="input-small" placeholder="First name" name="guest-first" value="{{guest-first}}">
            <input type="text" class="input-small" placeholder="Second name" name="guest-second" value="{{guest-second}}">
        </span>
    {{/unless}}
</td>
<td>
    <span class="values">
        {{#if accompanying}}
            {{#if accompanying-first}}
                {{accompanying-first}} {{accompanying-second}}
            {{else}}
                an attendant
            {{/if}}
        {{/if}}
    </span>
    {{#unless response}}
        <span class="edit {{#if accompanying}}checkbox-hidden{{/if}}">
            {{#unless accompanying}}
                <label class="checkbox inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1"> with an attendant?
                </label>
            {{/unless}}
            <span class="accompanying">
                <input type="text" class="input-small" placeholder="First name" name="accompanying-first" value="{{#if accompanying}}{{accompanying-first}}{{/if}}">
                <input type="text" class="input-small" placeholder="Second name" name="accompanying-second" value="{{#if accompanying}}{{accompanying-second}}{{/if}}">
            </span>
        </span>
    {{/unless}}
</td>
<td>
    {{#if childrens}}{{childrens}}{{/if}}
</td>
<td>
    {{#if response}}
        {{#if confirmed}}
            <span class="label label-success">Confirmed</span>
        {{else}}
            <span class="label label-important">upset</span>
        {{/if}}
    {{else}}
        <span class="values">
            <div class="btn-group">
                <button class="btn btn-mini">Confirmation</button>
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    <ul class="">
                        <li>Yes</li>
                        <li>No</li>
                    </ul>
                </div>
            </div>
         </span>
        <span class="edit">
            <button class="btn btn-mini btn-danger button-delete-item"><span class="icon-trash icon-white"></span></button>
        </span>
    {{/if}}
</td>
<td>
    {{#unless response}}
        <span class="values">
            <button class="btn btn-mini button-edit"><span class="icon-edit"></span></button>
        </span>
        <span class="edit">
            <button class="btn btn-mini button-save btn-primary"><span class="icon-check icon-white"></span></button>
        </span>
    {{/unless}}
</td>
