<div class="modal">
    <div class="modal-header">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{title}}</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset class="control-group">
                <label>Guest</label>
                <div class="form-inline">
                    <input type="text" class="input-small" placeholder="First name" name="guest-name-first" />
                    <input type="text" class="input-small" placeholder="Second name" name="guest-name-second" />
                </div>
            </fieldset>
            <fieldset class="control-group">
                <label>Guest accompanying</label>
                <div class="form-inline">
                    <input type="text" class="input-small" placeholder="First name" name="accompanying-name-first" />
                    <input type="text" class="input-small" placeholder="Second name" name="accompanying-name-second" />
                </div>
            </fieldset>
            <fieldset class="control-group">
                <label>Childs</label>
                <div class="form-inline">
                    <input type="number" name="childs" class="input-small" min="0" value="0" />
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn modal-close">Close</a>
        <a href="#" class="btn btn-primary modal-save">Save changes</a>
    </div>
</div>